# Visual Studio 
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# MacOS

.DS_Store

# Visual Studio Code
.vscode

# Conan
/dependencies
/dependencies*

# Compiled Object and binarie files
/build
Makefile